venv/
__pycache__/
*.pyc
.DS_Store
.vscode/
.env
*.dump
*.sql
backup_*.*
/backups/
instance/
*.db

# Image scripts
batch_crop.py
crop_one.py
png_to_jpg.py
db_image_columns_update.py
PNG_to_png.py

# Temporary image folders
static/cropped_images/
static/uncropped_images/

# Video scripts
update_youtube_ids.py