{% extends "layout.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Forgot Password</h2>
    <form method="post">
        <div class="mb-3">
            <label for="username" class="form-label fw-bold">Username</label>
            <input type="text" class="form-control" name="username" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Continue</button>
    </form>
</div>
{% endblock %}

