{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="card w-100 mx-auto shadow-sm p-3 border border-2 rounded-3 mb-4" style="border-color: #ced4da; background-color: #f8f9fa;">
    <div class="card-body">
        <h2 class="text-center mb-4">Welcome back, {{ name }}!</h2>
        <p>
            Here, you can track your workouts, generate customized routines, and see your progress as you achieve your fitness goals. Let’s keep pushing forward together!
        </p>

        <hr>
        <h5><strong>Your Stats:</strong></h5>
        <ul class="list-group p-2 border border-2 rounded-3 mb-4" style="border-color: #ced4da; background-color: #f8f9fa;">
            <li class="list-group-item shadow-sm p-3 border border-1 rounded-4 mb-3" style="border-color: #20c997; background-color: #ffffff;">
                <strong>Workouts Completed:</strong> {{ workouts_completed }}
            </li>
            <li class="list-group-item shadow-sm p-3 border border-1 rounded-4 mb-3" style="border-color: #20c997; background-color: #ffffff;">
                <strong>Last Workout Completed:</strong>
                {% if last_workout_completed != "No workouts completed yet" %}
                    <a href="{{ url_for('workout_details', category=last_workout_completed) }}">
                        {{ last_workout_completed }}
                    </a>
                {% else %}
                    {{ last_workout_completed }}
                {% endif %}
            </li>
            <li class="list-group-item shadow-sm p-3 border border-1 rounded-4" style="border-color: #20c997; background-color: #ffffff;">
                <strong>Current Goal:</strong> {{ fitness_goals }}
            </li>
        </ul>

        <p>
            Ready for your next workout? Head over to the training page and get started with your personalized plan.
        </p>
        <div class="text-center">
            <a href="/training" class="btn btn-primary mt-3">Go to Training</a>
        </div>
    </div>
{% endblock %}
